# Generate release notes when a milestone is closed.
# @see https://github.com/marketplace/actions/release-notes-generator
# @see https://github.com/marketplace/actions/upload-a-build-artifact

name: Release Notes Generator

on:
  milestone:
    types: [closed]

jobs:
  release-notes:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Generate release notes
      uses: docker://decathlon/release-notes-generator-action:3.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OUTPUT_FOLDER: temp_release_notes
        USE_MILESTONE_TITLE: true
    - name: Upload release notes
      uses: actions/upload-artifact@v2
      with:
        name: release-notes
        path: temp_release_notes/
